name: Ghost Mode 5p
on:
  schedule:
    - cron: '*/5 * * * *'
  workflow_dispatch:
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - run: pip install requests
      - name: Execute
        env:
          INIT_DATA: ${{ secrets.INIT_DATA }}
        run: python main.py
