name: Bat Tu 24/7
on:
  schedule:
    - cron: '0 */5 * * *'
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  treo-bat-tu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - run: pip install requests
      - name: Chay Xuyen Dem
        env:
          INIT_DATA: ${{ secrets.INIT_DATA }}
        timeout-minutes: 360
        run: python main.py
